[submodule "3rdparty/tensorflow"]
	path = 3rdparty/tensorflow
	url = https://github.com/stagedml/tensorflow
[submodule "3rdparty/tensorflow_models"]
	path = 3rdparty/tensorflow_models
	url = https://github.com/stagedml/tensorflow_models
[submodule "3rdparty/pylightnix"]
	path = 3rdparty/pylightnix
	url = https://github.com/stagedml/pylightnix
[submodule "3rdparty/nl2bash_essence"]
	path = 3rdparty/nl2bash_essence
	url = https://github.com/stagedml/nl2bash_essence
